/* Work Sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

/* shared style */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

:root {
    --primary-background-color: linear-gradient(rgba(255, 66, 165, 1), rgba(255, 66, 165, 1));
    --secondary-background-color: linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    --primary-font-size: 3rem;
}

/* primary title */
.primary-title {
    color: #0B0223;
    font-size: var(--primary-font-size);
    font-weight: 700;
}

/* primary text color */
.primary-text {
    background-image: var(--secondary-background-color);
    color: transparent;
    -webkit-background-clip: text;
}

/* primary btn */
.primary-btn {
    padding: 21px 40px;
    background-color: rgba(255, 66, 165, 1);
    border-radius: 48px;
    border: none;
    color: white;
}

/* header section style */
header {}

/* navbar section style */
nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 45px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.logo-container img {
    object-fit: cover;
}

.logo-container .logo {
    font-size: 2.8rem;
    font-weight: 700;

}

/* .logo-container .logo span {
    background-image: var(--primary-background-color);
    color: transparent;
    -webkit-background-clip: text;
} */

.page-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.page-container>li {
    list-style: none;
}

.page-container li a,
.page-container .page-btn {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

.page-container .page-btn {
    padding: 17px 24px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1.5rem;

}

/* banner section */
.banner-section {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: top left;
    /* height: 700px; */
}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;
    /* padding: 45px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.banner-container .banner {
    width: 50%;
}


.banner-container .banner-title {
    font-weight: 600;
    text-transform: uppercase;
}

.banner-container .goat {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-container .banner-list {
    list-style: none;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 24px;
    margin-bottom: 24px;
}

.banner-container .banner-list li {
    margin-bottom: 17px;
}

.banner-container .banner .btn {
    background-color: #4EC5F7;
}

.banner-container img {
    height: 100%;
    width: auto;
}

/* Online Games Funny Videos */
.online {
    max-width: 1440px;
    margin: 120px auto;
}

.online>h1,
.online>p {
    text-align: center;
}

.online>h1 {
    margin-bottom: 16px;
}

.online>p {
    margin-bottom: 48px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card {
    width: 342px;
}

.card img {
    width: 100%;
}

.card-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 24px;
}

/* Play Instantly section style */
.play-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 200px;   
}

.play-container .play{
    width: calc(50% - 200px);
    margin-left: 200px;
}
.play-container .play>h1 , .play-container .play>.play-description {
    text-align: right;
    width: 353px;
}
.play-container .play span {
    background-image: var(--primary-background-color);
}

.play-container .play .play-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}
.play-img-container{
    width: 50%;
    position: relative;
}
.play-img-container img:first-child{
    width: 100%;
    height: 650px;
}
.play-img-container img:last-child{
    width: 318.5px;
    height: 365.083px;
    position: absolute;
    transform: translateY(-80%);
    left: -25%;

}



/* responsive media query */

/* small device or mobile device */
@media screen and (max-width: 576px) {

    /* shared */
    nav,
    .page-container,
    .play-container
    {
        flex-direction: column;
    }

    /* nav section */
    nav {
        gap: 4rem;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-section {
        background-image: none;
    }

    .banner-container .banner {
        width: 100%;
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        /* margin: 0 auto; */
    }

    .banner-container img {
        width: 100%;
    }

    /* Online Games Funny Videos section */
    .card-container {
        grid-template-columns: 1fr;
    }
    /* play section */
    .play-container .play>h1 , .play-container .play>.play-description {
        text-align: center;
    }
    .play-container .play{
        width: 100%;
        margin-left: 0px;
    }
    .play-img-container{
        width: 100%;
    }
    /* .play-img-container img:first-child{
        height: 650px;
    
    } */
    /* .play-img-container img:last-child{
        height: 300.083px;
        width: auto;
    } */
}



/* medium device or tablet device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* shared */
    /* nav,
    .page-container
    {
        flex-direction: column;
    } */

    /* nav section */
    nav {
        gap: 4rem;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-section {
        background-image: none;
    }

    .banner-container .banner {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        /* margin: 0 auto; */
    }

    .banner-container img {
        width: 100%;
    }

    /* Online Games Funny Videos section */
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}